:root{
	--SIDE_WIDTH: 300px;
	--PLATE_MARGIN: 10px;

	background-color: rgb(213, 255, 241);
}

.SETUP_DISPLAY{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

	background-color: white;

	padding: 10px;

	z-index: 100;
}

.SIDE{
	position: absolute;
	top: var(--PLATE_MARGIN);
	left: var(--PLATE_MARGIN);
	width: calc(var(--SIDE_WIDTH) - var(--PLATE_MARGIN));
	height: calc(100vh - (var(--PLATE_MARGIN) * 2));

	border: solid 1px;

	padding: 10px;
}

.MAIN{
	position: absolute;
	top: var(--PLATE_MARGIN);
	left: calc(var(--SIDE_WIDTH) + var(--PLATE_MARGIN));
	width: calc(100vw - var(--SIDE_WIDTH) - (var(--PLATE_MARGIN) * 2));
	height: calc(100vh - (var(--PLATE_MARGIN) * 2));

	border: solid 1px;

	padding: 10px;

	overflow: auto;
}